*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.053);
}
#calculator{
    font-family:monospace;
    background-color: rgba(0, 0, 0, 0.861);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: rgb(56, 55, 55);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    padding: 25px;
}

button{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    border: none;
    background-color: rgb(86, 85, 85);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3), inset 0 -2px 4px rgba(255,255,255,0.1);
}
button:hover{
    background-color:rgb(105, 104, 104);
}

button:active{
    background-color:rgb(97, 94, 94);
}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: rgb(238, 172, 49);
}

.operator-btn:active{
        background-color: rgb(234, 162, 28);
}
